
:root {
    --font-ral: 'Raleway', sans-serif;
    --color-grey:#303030;
}

*{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.link {
    list-style: none;
}

ul {
    list-style: none;
}

.section-title {
    font-family: var(--font-ral);
    font-weight: 700;
    font-size: 42px;
    line-height: 1,1666;
    letter-spacing: 0.05em;
    color: #303030;
}

/* ---------------------- HEADER ------------------------------- */

.header {
    background-color: rgb(58, 189, 98);
}

.header a {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3333;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav {
    list-style: none;
}


.header-nav-link {
    /* font-weight: 600;
    font-size: 12px;
    line-height: 1.3333;
    letter-spacing: 0.1em;
    color: #FFFFFF; */
    text-decoration: none;
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: #FF6C00;
}

.header-nav-link:active {
    color: black;
}

.header-contact {
    /* font-weight: 600;
        font-size: 12px;
        line-height: 1.3333;
        letter-spacing: 0.1em; */
    text-transform: uppercase;
}

.header-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    cursor: pointer;
}
 /* line-height / font-size =  */

/* -------------------- MAIN ----------------------------- */

.hero {
    background-image: url(../images/hero.jpg);
}

hero-uptitle {
     font-weight: 600;
     font-size: 11px;
     line-height: 15px;
     text-transform: uppercase;
     color: var(--color-grey);
 }
.hero .hero-uptitle {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    font-family: var(--font-ral);
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.1805;   
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.hero-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6666;   
    letter-spacing: 0.02em;
    color: #9DA4BD;
}